body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

center {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #007bff;
    margin-bottom: 10px;
}

h2 {
    color: #343a40;
    font-size: 1.5em;
}

h3 {
    color: #6c757d;
}

hr {
    border: 1px solid #dee2e6;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
}
