body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    margin: 20px;
    text-align: center;
}

label {
    margin-right: 10px;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px; /* Agregado para un aspecto más moderno */
}

button:hover {
    background-color: #555;
}

#lblError {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Aumentado para mayor espacio en celdas */
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

/* Simplificar la definición de columnas */
[class^="columna"] {
    width: 8.33%;
    padding: 12px; /* Aumentado para mayor espacio en celdas */
    box-sizing: border-box;
}

/* Estilo general para las columnas */
[class^="columna"]:hover {
    background-color: #ddd;
    transition: background-color 0.3s;
}
