body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

center {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

button {
    padding: 12px 24px;
    margin: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 70%;
    margin: 20px auto; /* Ajuste para centrar la tabla */
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #007BFF;
    color: #fff;
}

/* Estilo para las columnas específicas */
.columna1 { width: 40%; }
.columna2 { width: 20%; }
.columna3 { width: 40%; }
