body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

#lblError {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

#respuesta {
    margin-top: 20px;
    text-align: center;
}

/* Simplificar la definición de columnas */
[class^="columna"] {
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}

/* Estilo general para las columnas */
[class^="columna"]:hover {
    background-color: #ddd;
    transition: background-color 0.3s;
}