body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin: 5px 0;
}

#capital {
    color: #27ae60;
}

#lenguaje {
    color: #e67e22;
}

#btnLimpiar {
    background-color: #e74c3c;
}

#btnLimpiar:hover {
    background-color: #c0392b;
}