body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

select {
    width: 26%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin: 10px 0;
    color: #333;
}

#imagenContainer {
    height: 400px;
    width: 500px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

#imagenContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

#btnImagen {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnImagen:hover {
    background-color: #2980b9;
}
